<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIS Web App - Assigment 1</title>
   
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css"> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css">
     
</head>
<body>
    <h1>GIS Web App - Assigment 1</h1>
    
    <div class="button-container">
       <button onclick="runTask1()">Task 1: Geometries</button>
       <button onclick="runTask2()">Task 2: 5 Locations</button>
       <button onclick="runTask3()">Task 3: Supermarkets</button>
       <button onclick="runTask4()">Task 4: Image Overlay</button>
       <button onclick="runTask5()">Task 5: Cluster</button> 
    </div>
    <div id="main-container" style="display: flex;">
        <div id="map"></div>

    </div>
    
    <div id="sidebar" style="float: right; width: 30%; height: 400px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
        <h2>Task Output</h2>
        <div id="info-content"></div>
        <h3>Information</h3>
        <div id="side-info">Klicka på en plats för info...</div>
    </div>
    
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="{{ url_for('static', filename='fuel.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    
</body>
</html>